table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


#coffees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.coffee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin-left: auto;
    margin-bottom: 50px;
    border: saddlebrown 3px;
    background-color: indianred;
;

}
#coffeeRoast{
    display: flex;
    align-content: flex-end;
}
#roast-selection {
    background-color: cornsilk;
}
#coffee-name {
    background-color: cornsilk;
}
#newRoast-selection {
    background-color: cornsilk;
}
#newCoffee-name {
    background-color: cornsilk;

}
.container {
    color: brown ;
}

.forms2 {
    background-color: #FFDCBA ;
    background-color: rgba(0,0,0,.5);
    color: #FFDCBA;


}
.form1{
    padding: 0.5em 0;
}
.overlay {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.overlay h2 {
    background: #000 none repeat scroll 0 0;
    color: tan;
    font-weight: 600;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
header {
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0.5em;
}
    nav a {
    color: inherit; !important;
    padding: 0 12px;
    text-decoration: none;
        font-family: "Brush Script MT", cursive;

    }
.typewriter h1 {
    color: #fff;
    font-family: 'Pacifico', cursive;
    color: yellow;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}
.line-1{
    position: relative;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}